.hidden {
    display: none;
}

header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.headerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
    height: 7em;
}

main {
    display: block;
}

.largeImage {
    width: 200px;
}

.smallImage {
    width: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 77em;
    overflow-x: auto;
}

li {
    text-align: center;
    display: block;
    max-height: 50em;
    padding-right: 2em;
}

li h2 {
    font-size: 1rem;
}

li h3 {
    font-size: .75rem;
}

li p {
    font-size: 0.85rem;
}

li button {
    width: auto;
}

.viewer {
    display: block;
    width: 100%;
    height: 40em;
}

.js-hide-viewer {
    margin: 0 auto;
}

.js-book-viewer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.resultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.js-td-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: white;
    color: darkgreen;
    border-color: darkgreen;
    border-width: 0.2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
}

@media all and (min-width: 900px) {
    .headerFlex {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}